{% extends "base.html" %}

{% block content_title %}登陆{% endblock %}

{% block content %}
  <form action="{{ url_for('login',next=next) }}" class="form-horizontal" method="post">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-6">
        <input class="form-control" id="password" name="password" type="password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default" type="submit">登陆</button>
      </div>
    </div>
  </form>
{% endblock %}
